section.photo
    h3.photo__title.animation
        | Технический консультант по бюджету поможет правильно&nbsp;
        br.d-none.d-lg-block
        | спланировать и оптимизировать расходы на каждом этапе работ.
    img.photo__pic.animation(src="img/team-photo.jpg" alt="")