section.pride.animation
    h3.pride__tietle.animation наша гордость

    p.pride__text.animation
        | Скоростной капитальный ремонт
        br
        | дома певицы&nbsp;
        strong Елены Темниковой:
        br
        | 520 кв.м за 4 месяца

    p.pride__text.animation
        | Реконструкция мансарды&nbsp;
        strong
            | дома
            br
            | актера театра и кино Андрея&nbsp;
            br
            | Мерзликина