@import "../scss/variables";

.footer {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 35px;

    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (min-width: $lg) {
            padding: 60px 0;
            justify-content: space-between;

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-back-secondary;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__policy {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-transform: uppercase;
        color: $color-font-primary;
        text-decoration: none;
        text-align: center;
        margin-bottom: 10px;

        @media (min-width: $lg) {
            display: none;
        }
    }

    &__instagram {
        display: none;

        @media (min-width: $lg) {
            display: block;
        }
    }

    &__links {
        display: none;

        @media (min-width: $lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        li:first-child {
            margin-bottom: 5px;
        }

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            text-transform: lowercase;
            color: $color-font-primary;
            text-decoration: none;
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: $color-font-primary;
            text-decoration: none;
        }

        @media (min-width: $lg) {
            padding-top: 45px;
        }
    }
}