.container
    .row
        .col-12
            .footer__content

                .footer__contacts.animation
                    ul.footer__socials
                        li
                            a.footer__instagram(href="")
                                img(src="img/i-inst.svg")
                        li
                            a.footer__vk(href="")
                                img(src="img/i-vk.svg")

                    ul.footer__links
                        li
                            a.footer__phone(href="tel:+74951214254") + 7 (495) 121-42-54
                        li
                            a.footer__mail(href="mail:forcemontage@gmail.com") forcemontage@gmail.com

                ul.footer__copy.animation
                    li
                        a(href="index.html") Forcemontage

                    li
                        a(href="https://quiz24.ru/") Сделано QUIZ24

