// transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);

// Colors
$color-back-secondary: #ffffff;
$color-font-primary: #ffffff;
$color-font-secondary: #000000;


//$color-accent-primary: #fff;
//$color-back-primary: #fff;
//$color-font-lite: #474747;
//$color-link: #3498DB;

// Media quires
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;