// Colors
$color-back-secondary: #ffffff;
$color-font-primary: #ffffff;
$color-font-secondary: #000000;
$color-accent-primary: #00FF0A;

// Media quires
$xsm: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;