section.container
    .row
        .col-12
            .collaboration
                h3.collaboration__title.animation
                    span
                        | КОЛЛАБОРАЦИЯ
                        br
                        strong
                            | ЭКСПЕРТОВ&nbsp;
                            br.d-md-none
                            | ИНДУСТРИИ
                    span №1

                h4.collaboration__subtitle.animation
                    | ТРИ&nbsp;
                    strong НАПРАВЛЕНИЯ

                ul.collaboration__list.animation
                    li.collaboration__item дизайн интерьера
                    li.collaboration__item комплектация
                    li.collaboration__item реализация

                span.collaboration__line.animation

                p.collaboration__text.animation Мы предлагаем забыть, что ремонт — это сплошной стресс, и получить опыт ремонта, соответствующего новым высоким стандартам, направленным на комфорт клиента в процессе.
                p.collaboration__text.animation Обретение нового дома — это больше не результат, ради которого стоит потерпеть, а обычный жизненный процесс в сопровождении коллаборации экспертов.
                p.collaboration__text.animation Именно сочетание опыта профессионалов в узких направлениях обеспечивает свободу заказчика и общение с одним персональным менеджером на протяжении всего процесса ремонта от дизайн-проекта до последних штрихов в реализации.



