@import "../../../templates/default/scss/variables";

.picture {
    position: relative;
    width: 100%;
    height: 518px;
    margin: 35px auto;

    @media (min-width: $lg) {
        width: 1092px;
        height: 520px;
    }

    &__img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(0);
        opacity: 1;
        transition: all 4s cubic-bezier(0.22, 1, 0.36, 1);

        &.custom-background-position {

            @media (min-width: $md) {
                background-position: center -450px;
            }

            @media (min-width: $lg) {
                background-position: center -700px;
            }
        }

        &.animation {
            transform: translateY(15px);
            opacity: 0;
        }
    }

    &__line {
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% + 70px);
        top: -35px;
        left: 50%;
        margin-left: -82px;
        background-color: $color-font-primary;
        transform: translateY(0);
        transition: all 4s cubic-bezier(0.22, 1, 0.36, 1);

        @media (min-width: $lg) {
            margin-left: -282px;
        }

        &.animation {
            transform: translateY(-15px);
            height: 0;
        }
    }
}