#galleryDesign
    a(data-fancybox="gallery-design" href="/img/designer/1.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/2.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/3.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/4.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/5.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/6.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/7.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/8.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/9.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/10.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/11.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/12.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/13.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/14.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/15.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-design" href="/img/designer/16.jpg")
        img(src='' alt='')