#galleryEquipment
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/80/1600x1200")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/81/1600x1200")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/82/1600x1200")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/83/1600x1200")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/84/1600x1200")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="https://lipsum.app/id/85/1600x1200")
        img(src='' alt='')