#galleryEquipment
    a(data-fancybox="gallery-equipment" href="/img/equipment/1.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/2.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/3.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/4.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/5.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/6.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/7.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/8.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/9.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/10.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/11.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/12.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/13.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/14.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/15.jpg")
        img(src='' alt='')
    a(data-fancybox="gallery-equipment" href="/img/equipment/16.jpg")
        img(src='' alt='')