mixin next-page-button(text, link)
    #nextPageBtnRelativePlace
    .next-page-button#goToNextPageBtn
        a.next-page-button__link(href=link)
            span.next-page-button__text= text
            span.next-page-button__picture