.container
    .row
        .col-12
            .index-video
                button.index-video__button
                    .index-video__icon(
                        type="button"
                        data-toggle="modal"
                        data-target="#modalYoutube"
                        data-youtube-src="https://www.youtube.com/embed/r9pUJknYbjY?controls=0")