section.index-video
    .container
        .row
            .col-12
                button.animation.index-video__picture
                    .index-video__icon(
                        type="button"
                        data-toggle="modal"
                        data-target="#modalYoutube"
                        data-youtube-src="https://www.youtube.com/embed/r9pUJknYbjY?controls=0")