section.index-video
    .container
        .row
            .col-12
                .animation.index-video__picture
                    button.index-video__icon(type="button" data-fancybox
                    href=`https://www.youtube.com/watch?v=r9pUJknYbjY`)