@import "../scss/variables";

.modal {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: -9999px;
     opacity: 0;
     background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(0);
     z-index: 100;
     overflow: auto;
     transition:
             left 0s linear .5s,
             opacity .1s linear .1s,
             backdrop-filter .1s linear .1s;

     &.show {
         left: 0;
         opacity: 1;
         backdrop-filter: blur(3px);
         transition:
                 left 0s linear 0s,
                 opacity .1s linear 0s,
                 backdrop-filter .1s linear 0s;

         .modal__dialog {
             opacity: 1;
             transform: translate(0,0);
         }
     }

     &__dialog {
         position: relative;
         width: 95%;
         max-width: 375px;
         margin: .5rem 0;
         opacity: 0;
         transform: translateY(-15px);
         transition: all .2s ease-out;
         background-color: $color-back-secondary;

         &_hide {
             opacity: 0 !important;
             transform: translateY(-20px) !important;
         }
     }

     &__body {
         position: relative;
         padding: 48px 32px 32px;
     }

     &__title {
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 29px;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         color: $color-font-secondary;
         text-align: left;
         margin-bottom: 24px;
     }

     &__subtitle {
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 19px;
         color: $color-font-secondary;
         margin-bottom: 52px;
    }

    &_video {
        .modal__dialog {
            position: relative;
            width: 700px;
            max-width: 95%;
            height: auto;
            background-color: transparent;

            @media (min-width: $xl) {
                width: 1000px;
            }
        }

        .modal__youtube {
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding: 0 0 56.25%;
            z-index: 3;
        }

        .modal__close {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.7);
            top: 0;
            right: 0;
            z-index: 5;

            @media (min-width: $md) {
                width: 70px;
                height: 70px;
            }

            @media (min-width: $xl) {
                width: 100px;
                height: 100px;

                &:hover {
                    &::before, &::after {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                }
            }

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 15px;
                height: 1px;
                background-color: $color-font-primary;
                transition: all .1s linear;

                @media (min-width: $md) {
                    width: 20px;
                }

                @media (min-width: $xl) {
                    width: 30px;
                }
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    //&__video-content {
    //    width: 100%;
    //    position: relative;
    //    padding-bottom: 56.25%;
    //    height: 0;
    //    overflow: hidden;
    //
    //    video {
    //        max-width: 100%;
    //        height: auto;
    //        max-height: 80vh;
    //    }
    //}
}