//- .show
#speaker.modal
    .modal__dialog
        .modal__content
            .modal__body
                button.modalCloseBtn(type="button")

                h5 заслуженный спикер&nbsp;в&nbsp;индустрии:

                p
                    img(src="img/ch-4.png" alt="")
                    img(src="img/ch-m24.png" alt="")
                    img(src="img/ch-ntv.png" alt="")

                ul
                    li
                        | Спикер более&nbsp;
                        strong 10&nbsp;
                        | строительных форумов и дизайн конференций
                    li
                        | Личный опыт в сфере строительных&nbsp;работ почти&nbsp;
                        strong 30&nbsp;
                        | лет

                a.modalCloseBtn(
                    type="button"
                    href="https://youtu.be/NJnYC21QGJM"
                    target="_blank")