//- .show
#thanksModal.modal
    .modal__dialog
        .modal__content
            .modal__body
                h5.modal__title
                    | спасибо
                    br
                    | за заявку
                p.modal__subtitle Наш менеджер скоро с вами свяжется
                button.btn.btn_close.modalCloseBtn(type='button') Буду с нетерпением ждать