//- .show
#modalYoutube.modal.modal_video
    .modal__dialog.modal__dialog_hide
        .modal__youtube
            button.modal__close.modalCloseBtn(type='button' id="pause-button")
                span
            iframe(src="" frameborder="0" allowfullscreen)