section.report-example.animation
    h3.report-example__title Пример видео отчёта

    button.report-example__pic(type="button" data-fancybox href="https://www.youtube.com/watch?v=r9pUJknYbjY")
        img.report-example__img(src="img/report-example.jpg" alt="")
        span.report-example__back
        span.report-example__btn