//- Include used template for this page
extends ../../templates/default/template

//- Including mixins here
include picture/picture
include ../components/next-page-button/next-page-button

//- Variables for include this in used template
block variables
    - let title       = 'FORCEMONTAGE - Комплексная реализация проекта.'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-index'

block content
    include ../components/first-screen/main
    include video/video
    include collaboration/collaboration
    +picture('img/index-pic-1.jpg', 'custom-background-position')
    #nextPageBtnShowPlace
    include tasks/tasks
    +picture('img/index-pic-2.jpg', '')
    include anchors/anchors
    include team/team
    include attainment/attainment
    include pride/pride
    +next-page-button('отзывы о нас', 'otzyvy-o-nas.html')
    include ../components/form/form