section.projects
    .container
        .row
            .col
                .projects__body.animation
                    h3.projects__title
                        | какие проекты
                        br
                        | мы берем в работу

                    .projects__table
                        table
                            th
                                th(colspan="2") площадь

                            tr
                                td Квартиры
                                td от 80 кв.м.

                            tr
                                td Дома
                                td от 200 кв.м.

                            tr
                                td(colspan="2")
                                    | Меньшая площадь обсуждается
                                    br
                                    | индивидуально

                .projects__budjet.animation
                    h3.projects__title
                        | примерный бюджет
                        br
                        | на полный цикл

                    p для квартиры площадью 100&nbsp;кв.м

                .projects__price.animation от 16 млн. ₽