section.team
    .container.team__item.animation#design
        .row
            .col-12.col-xl-4
                //- .open
                .team__card.animation
                    p.team__position
                        span дизайн
                        button(type="button")

                    span.team__img
                        img(src="img/designer.jpg" alt="")

                    ul.team__text-list
                        //- .active
                        li
                            p
                                | Работа нашего бюро построена&nbsp;
                                strong на концепции «individual creation»&nbsp;
                                | - концепция, благодаря которой вы получаете новый опыт создания и реализации пространства для жизни, который станет для вас однозначно приятным.
                            p
                                | В «Boutique Buro» не бывает «случайных» клиентов.&nbsp;
                                strong Наша философия отрицает потоковый дизайн, мы развиваем дизайн - персональный.
                        li
                            p В наших проектах мы реализуем решения, которые не утратят своей актуальности спустя долгие годы, и станут отражением вашей индивидуальности.
                            p Тренды изменчивы.
                                br
                                | В «Boutique Buro», мы действуем в рамках общих категорий эстетики:  красота, гармония, баланс и мера.
                            p Мы с командой знаем не только ваши потребности, но и уделяем внимание вашим особенностям.

                        li
                            p Навыки и профессионализм нашей команды дизайнеров,  планировщиков и&nbsp;визуализаторов, позволяют нам создавать по-настоящему качественные и&nbsp;уникальные интерьеры.
                            strong Красота субъективна, стиль и&nbsp;качество нет.

                    h3.team__name
                        | Елена
                        br
                        | Литте

                    p.team__desc
                        | архитектор, дизайнер
                        br
                        | и основатель «BOUTIQUE BURO»

            .col-12.col-xl-8
                .team__gallery
                    h3.team__title Елена Литте

                    .team__wrapper

                        .team__element.active
                            p.team__subtitle
                                | архитектор, дизайнер
                                br
                                | и основатель «BOUTIQUE BURO»

                            ul.team__pics(data-gallery-id="#galleryDesign")
                                li.team__pic(style="background-image: url('img/des-1.jpg')")
                                li.team__pic(style="background-image: url('img/des-2.jpg')")
                                    span.cross
                                li.team__pic(style="background-image: url('img/des-3.jpg')")

                        .team__element
                            h3 дизайн
                            p.team__text
                                span
                                    | Работа нашего бюро построена на&nbsp;
                                    strong концепции «individual creation»&nbsp;
                                    | - концепция, благодаря которой вы получаете новый опыт создания и реализации пространства для жизни, который станет для вас однозначно приятным.
                                    br
                                    br
                                    | В «Boutique Buro» не бывает «случайных» клиентов.
                                    br
                                    strong Наша философия отрицает потоковый дизайн, мы развиваем дизайн  - персональный.

                                span
                                    | Архитектор, дизайнер
                                    br
                                    | и основатель «BOUTIQUE BURO»