section.team
    .container.team__item.animation#design
        .row
            .col-12.col-xl-4
                .team__card.animation
                    p.team__position
                        span дизайн
                        button(type="button")

                    img.team__img(src="img/designer.jpg" alt="")

                    h3.team__name
                        | Елена
                        br
                        | Литте

                    p.team__desc
                        | архитектор, дизайнер
                        br
                        |и основатель «BOUTIQUE BURO»

            .col-12.col-xl-8
                .team__gallery
                    h3.team__title Елена Литте

                    .team__wrapper

                        .team__element.active
                            p.team__subtitle
                                | архитектор, дизайнер
                                br
                                |и основатель «BOUTIQUE BURO»

                            ul.team__pics
                                li.team__pic(style="background-image: url('img/des-1.jpg')")
                                li.team__pic(style="background-image: url('img/des-2.jpg')")
                                    span.cross
                                li.team__pic(style="background-image: url('img/des-3.jpg')")

                        .team__element.hidden.hide
                            h3 дизайн
                            p.team__text
                                span
                                    | Работа нашего бюро построена на&nbsp;
                                    strong концепции «individual creation»&nbsp;
                                    | - концепция, благодаря которой вы получаете новый опыт создания и реализации пространства для жизни, который станет для вас однозначно -приятным.
                                    br
                                    br
                                    | В «Boutique Buro» не бывает «случайных» клиентов.
                                    br
                                    strong Наша философия отрицает потоковый дизайн, мы развиваем дизайн  - персональный.

                                span
                                    | Архитектор, дизайнер
                                    br
                                    | и основатель «BOUTIQUE BURO»