section.team.team_rtl
    .container.team__item.animation#equipment
        .row
            .col-12.col-xl-4.order-xl-2
                //- .open
                .team__card.animation
                    p.team__position
                        span комплектация
                        button(type="button")

                    span.team__img
                        img(src="img/equipment.jpg" alt="")

                    ul.team__text-list
                        //- .active
                        li
                            p Мы занимаемся более 15 лет комплектацией интерьеров чистовыми отделочными материалами и мебелью. В нашем портфолио более 100 проектов в России и за рубежом.
                            p
                                | Принципиально не работаем с продукцией уровня масс-маркет.&nbsp;
                                strong Все поставки — только напрямую с проверенных нами лично фабрик.&nbsp;
                                | В год мы посещаем от 9 фабрик в разных странах.
                        li
                            p Поэтому мы предлагаем продукцию только проверенных «прямых» поставщиков и качественных брендов.
                            p
                                | Делаем так, чтобы&nbsp;
                                strong результат полностью соответствовал дизайн проекту и вашим желаниям.&nbsp;
                                | И  при этом вы не вышли за пределы сметы.
                            p
                                strong Обеспечиваем идеальную точность сроков поставки материалов для строителей,&nbsp;
                                | чтобы работа над созданием вашей новой реальности не прекращалась ни на минуту.

                        li
                            p Профессионализм нашей команды, отшлифованный временем и количеством  нестандартных проектов, позволяет гарантировать наполнение вашего дома только безукоризненными материалами и авторской мебелью высшего качества.
                            strong
                                i Фабрики интерьера всего мира будут работать для вас.

                    h3.team__name
                        | Александр
                        br
                        | Тащилин

                    p.team__desc
                        | Комплектатор
                        br
                        | и основатель «DI&ME»

            .col-12.col-xl-8.order-xl-1
                .team__gallery
                    h3.team__title Александр Тащилин

                    .team__wrapper

                        .team__element.active
                            p.team__subtitle
                                | Комплектатор
                                br
                                | и основатель «DI&ME»

                            ul.team__pics
                                li.team__pic(style="background-image: url('img/equip-1.jpg')")
                                li.team__pic(style="background-image: url('img/equip-2.jpg')")
                                    span.cross
                                li.team__pic(style="background-image: url('img/equip-3.jpg')")

                        .team__element.team__element_txt
                            h3 комплектация
                            p.team__text
                                span
                                    | Мы занимаемся более 15 лет комплектацией интерьеров чистовыми отделочными материалами и мебелью. В нашем портфолио более 100 проектов в России и за рубежом.
                                    br
                                    br
                                    | Принципиально не работаем с продукцией уровня масс-маркет.&nbsp;
                                    strong Все поставки — только напрямую с проверенных нами лично фабрик.&nbsp;
                                    | В год мы посещаем от 9 фабрик в разных странах.

                                span Комплектатор и основатель «DI&ME»