section.attainment
    h4.attainment__title.animation Достижения

    p.attainment__fact.attainment__fact_underline.animation
        | с 2011 года
        span реализуем проекты

    p.attainment__fact.attainment__fact_rtl.animation
        | 200+
        span завершенных проектов

    a.attainment__link.animation(href="https://www.youtube.com/user/forcemontage" target="_black")
        img(src="img/youtube.jpg" alt="")
        button

    p.attainment__fact.attainment__fact_underline.animation
        | 22 166 040
        span просмотров

    p.attainment__fact.attainment__fact_rtl.attainment__fact_underline.animation
        | 409
        span видео о результатах работы

    p.attainment__fact.animation
        | 34
        span Живых видео отзыва


