.nav__header
    img.nav__logo(src="img/i-nav-logo.svg" alt="")

    button.nav__close#btnNavClose(type="button")

ul.nav__list
    li.nav__item
        a(href="o-nas.html") о нас
    li.nav__item
        a(href="komanda.html") команда
    li.nav__item
        a(href="otzivi.html") отзывы
    li.nav__item
        a(href="upravlenie-stroikoi.html")
            | управление
            br
            | стройкой

ul.nav__links
    li
        a.nav__phone(href="tel:+74951214254") + 7 (495) 121-42-54
    li
        a.nav__mail(href="mail:forcemontage@gmail.com") forcemontage@gmail.com
    li
        a.nav__instagram(href="")
            img(src="img/i-inst.svg" alt="")