.nav__header
    img.nav__logo(src="img/i-nav-logo.svg" alt="")

    button.nav__close.navToggler(type="button")

ul.nav__list
    li.nav__item
        a(href="index.html") о нас
    li.nav__item
        a(href="komanda.html") команда
    li.nav__item
        a(href="otzyvy-o-nas.html") отзывы
    li.nav__item
        a(href="upravlenie-stroikoi.html")
            | управление
            br
            | стройкой

ul.nav__links
    li
        a.nav__phone(href="tel:+74951214254") + 7 (495) 121-42-54
    li
        a.nav__mail(href="mail:forcemontage@gmail.com") forcemontage@gmail.com
    li.nav__socials
        a.nav__instagram(href="https://www.instagram.com/p/CVhmFCjKiOo/" target="_blank")
            img(src="img/i-inst.svg" alt="")
        a.nav__vk(href="https://vk.com/remont_kvartir_forcemontage" target="_blank")
            img(src="img/i-vk.svg" alt="")
