section.anchors
    p.animation.anchors__lite
        a.btn.btn_lite.anchors__link(type="button" href="#design") Познакомьтесь с нами

    p.animation.anchors__dark
        a.btn.anchors__link(type="button" href="#design") Дизайн проект

    p.animation.anchors__dark
        a.btn.anchors__link(type="button" href="#equipment") Комплектация

    p.animation.anchors__dark
        a.btn.anchors__link(type="button" href="#realization") Реализация