include reviews-item

section.reviews
    h3.reviews__title.animation отзывы

    ul.reviews__list
        li#line
        +reviews-item('№1', 'У людей просто пропадает дар речи, вы молодцы', 'uaWSK6Tcdk0', 'img/rev-1.jpg')
        +reviews-item('№2', 'Ожидания полностью совпали с реальностью, и никаких нервов я на это не потратил', 'UwVgqPjIpPk', 'img/rev-2.jpg')
        +reviews-item('№3', 'Очень классные впечатления от мастеров! Это шедеврально!', 'OONg1wzwEa4', 'img/rev-3.jpg')
        +reviews-item('№4', 'Андрей Мерзликин: Форсмонтаж — это высший пилотаж мастерства в кратчайшие сроки', 'T5uVTT4e_KM', 'img/rev-4.jpg')
        +reviews-item('№5', 'Я первый раз сталкиваюсь с такой профессиональной бригадой', '2TRUJQOqZyU', 'img/rev-5.jpg')
        +reviews-item('№6', 'Это позитивный ремонт. Полное взаимопонимание', '7JQoe40eJaU', 'img/rev-6.jpg')
    .reviews__button.animation
        a.btn(href="https://www.youtube.com/channel/UCoOOlXAJuhEDPhGICbP9PbA/videos" target="_blank") смотреть все