mixin reviews-item(num, text, link, pic)
    li.reviews__item.animation.animation-line-point
        span.reviews__number=num

        button.reviews__link(type="button" data-fancybox
            href=`https://www.youtube.com/watch?v=${link}`
            style=`background-image: url("${pic}");`)
            p=text
            span