section.methods.animation
    p.methods__text Для организации комплексного контроля за всеми стадиями проекта мы используем следующие методы и инструменты:

    ul.methods__list
        li.methods__item Диаграмма Ганта визуализирует запланированные работы, поставки материалов и мебели;

        li.methods__item Бронирование и планирование человеческих ресурсов за несколько месяцев  вперед;

        li.methods__item Управление задачами через СRM систему;

        li.methods__item Видео отчеты о продвижении работ;

        li.methods__item Фотоотчеты скрытых работ и технических узлов;

        li.methods__item BIM моделирование для детализации технического задания.

    p.methods__text Вы можете находиться в любой точке страны или мира, но вы всегда будете иметь полную и актуальную информацию о вашем объекте.
