@import "../scss/variables";

.header {
    position: fixed;
    width: 100%;
    background-color: $color-font-primary;
    transform: translateY(0);
    transition: transform .2s ease-out;
    z-index: 10;

    &.hide {
        transform: translateY(-100%);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 91px;

        @media (min-width: $lg) {
            justify-content: space-between;
            height: 93px;
        }
    }

    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 19px;
        width: 22px;
        height: 30px;
        cursor: pointer;

        @media (min-width: $lg) {
            left: auto;
            position: relative;
        }

        &:hover {
            @media (min-width: $xl) {
                span {
                    width: 100% !important;

                    &:first-child {
                        width: 16px;
                        transform: translateY(-7px);
                    }

                    &:last-child {
                        width: 16px;
                        transform: translateY(7px);
                    }
                }
            }
        }

        span {
            display: block;
            position: relative;
            height: 2px;
            background-color: $color-font-secondary;
            transition: all .1s ease-out;

            &:nth-child(2) {
                width: 100%;
            }

            &:first-child {
                width: 16px;
                transform: translateY(-5px);
            }

            &:last-child {
                width: 16px;
                transform: translateY(5px);
            }
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 28px;

        @media (min-width: $md) {
            width: 38px;
        }
    }

    &__label {
        display: none;

        @media (min-width: $lg) {
            display: block;
        }
    }
}