.container
    .row
        .col-12
            .header__wrapper

                p.header__burger.navToggler
                    span
                    span
                    span

                a.header__logo(href="index.html")
                    img(src="img/header-logo.svg" alt="")

                a.header__label(href="index.html")
                    img(src="img/label.svg" alt="")