
section.stages
    .container
        .row
            .col
                h3.stages__title.animation этапы работ

                h4.stages__subtitle.animation
                    i
                        | точные сроки зависят от площади
                        br
                        | и объема работ

                ul.stages__list
                    li.stages__item
                        .stages__card.hide
                            span.stages__information-icon
                                include ../../../img/i-inform.svg

                            .stages__caption
                                img(src="img/stage-1.svg" alt="")
                                h5 Дизайн проект
                                p От 2 до 4 месяцев
                                p На объект в 100 кв. м.

                            .stages__description
                                p Обсуждение и утверждение концепции, составление технического задания.
                                p Согласование перепланировки, подбор строительных материалов, мебели.
                                p Авторский надзор осуществляется на протяжении всего проекта

                    li.stages__item
                        .stages__card.hide(data-arr-height="250px")
                            span.stages__information-icon
                                include ../../../img/i-inform.svg

                            .stages__caption
                                img(src="img/stage-2.svg" alt="")
                                h5
                                    | Согласование сметы
                                    br
                                    | и подписание договора
                                p 1 месяц

                            .stages__description
                                p Расчет в нескольких вариантах и&nbsp;утверждение сметы.
                                P Определение руководителя проекта и ответственных, оформление пропусков и доверенностей.

                    li.stages__item
                        .stages__card.hide(data-arr-height="380px")
                            span.stages__information-icon
                                include ../../../img/i-inform.svg

                            .stages__caption
                                img(src="img/stage-3.svg" alt="")
                                h5
                                    | Реализация ремонта
                                    br
                                    | на объекте
                                p 6-10 месяцев

                            .stages__description
                                p Сроки зависят от объемов и площади:
                                ul
                                    li Приемка и проверка качества материала на объекте
                                    li Соблюдение технологий высыхания материалов
                                    li Ведение электронного журнала
                                    li Еженедельный видеоотчет

                    li.stages__item
                        .stages__card.hide(data-arr-height="600px")
                            span.stages__information-icon
                                include ../../../img/i-inform.svg

                            .stages__caption
                                img(src="img/stage-4.svg" alt="")
                                h5
                                    | Снабжение мебелью
                                    br
                                    | и чистовыми материалами
                                p 1 месяц

                            .stages__description
                                p Наши комплектаторы работают напрямую с владельцами самых престижных фабрик:  Antonio Lupi, Bette, Cisal, Orac, Cesare, Bocci, Eichholtz, Polifform, Bontempi, Giorgio Collection и другие.
                                p
                                    i
                                        | Комплектация длится на
                                        br
                                        | протяжении всего цикла работ

                    li.stages__item
                        .stages__card.hide(data-arr-height="772px")
                            span.stages__information-icon
                                include ../../../img/i-inform.svg

                            .stages__caption
                                img(src="img/stage-5.svg" alt="")
                                h5
                                    | Подготовка объекта
                                    br
                                    | к заселению владельцев
                                p 1 месяц

                            .stages__description
                                p Пуско-наладочные работы, генеральная уборка, передача ключей, оформление документов.

                    li#stagesArr
                        img(src="img/stage-arr.png" alt="")