section.tasks
    h3.tasks__caption.animation Ориентируемся&nbsp;на задачи&nbsp;заказчика:

    ul.tasks__list

        li.tasks__item.animation
            h4.tasks__title.animation
                spun.tasks__num №1
                span.tasks__name.text-right
                    | Максимальная
                    br.d-md-none
                    | &nbsp;кастомизация
            p.tasks__content.text-right
                | Мы объединили опыт экспертов
                br.d-md-none
                | &nbsp;индустрии для
                br.d-none.d-md-block
                | &nbsp;реализации действительно
                br.d-md-none
                | &nbsp;сложных
                br.d-none.d-md-block
                | &nbsp;и персональных проектов.

        li.tasks__item.animation
            h4.tasks__title.animation
                span.tasks__name
                    | Перснальный&nbsp;
                    br.d-md-none
                    | менеджер
                spun.tasks__num №2
            p.tasks__content
                | Вся коммуникация по проекту&nbsp;
                br.d-md-none
                | происходит&nbsp;
                br.d-none.d-md-block
                |с одним контактным&nbsp;
                br.d-md-none
                | лицом от команды партнеров.

        li.tasks__item.animation
            h4.tasks__title.animation
                spun.tasks__num №3
                span.tasks__name Свобода
            p.tasks__content.text-right
                | Заказчик может участвовать в процессе
                br
                | ремонта ровно столько, сколько хочет.
                br
                | А может вообще не участвовать.

        li.tasks__item.animation
            h4.tasks__title.animation
                span.tasks__name
                    | Разумное&nbsp;
                    br.d-md-none
                    | использование&nbsp;
                    br.d-md-none
                    | ресурсов
                spun.tasks__num №4
            p.tasks__content
                | Вы не оплачиваете чью-то нехватку&nbsp;
                br.d-md-none
                | опыта и квалификации. Платите&nbsp;
                br.d-md-none
                | только за высокий профессионализм&nbsp;
                br.d-md-none
                | и многолетний опыт.