//- Include used template for this page
extends ../../templates/default/template

//- Including mixins here
include ../components/next-page-button/next-page-button

//- Variables for include this in used template
block variables
    - let title       = 'Отзывы о FORCEMONTAGE - Комплексная реализация проекта.'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-reviews'

block content
    include ../components/first-screen/reviews

    #nextPageBtnShowPlace
    include ../components/projects/projects
    +next-page-button('КОМАНДА', 'komanda.html')
    include ../components/form/form