section.select
    .container
        .row
            .col
                h3.select__title.animation
                    | Почему выбирают
                    br
                    | нас

                h4.select__subtitle.animation
                    | а не отдельных исполнителей
                    br
                    | для каждого этапа


    ul.select__argument-list
        li.select__argument-item.animation
            h5.select__argument-caption.animation
                span.select__argument-num №1
                span.select__argument-txt.text-right
                    | Гарантированный
                    br
                    | результат
            .select__argument-body
                p.select__argument-desc.text-right Полное соответствие результата дизайн проекту: от фактуры и оттенка стен до аксессуаров в ванной
                ul.select__argument-points
                    li Качественный дизайн проект
                    li
                        | Высокотехнологичный инженерный&nbsp;
                        br.d-none.d-md-block
                        | проект BIM

        li.select__argument-item.animation
            h5.select__argument-caption.animation
                span.select__argument-txt Высокая скорость
                span.select__argument-num №2
            .select__argument-body
                p.select__argument-desc Единый центр управления — это четкая последовательность и взаимосвязь всех работ и исполнителей

        li.select__argument-item.animation
            h5.select__argument-caption.animation
                span.select__argument-num №3
                span.select__argument-txt.text-right
                    | Комфорт
                    br
                    | и спокойствие
            .select__argument-body
                ul.select__argument-points
                    li Вам не надо тратить время на десятки контактов
                    li Один персональный менеджер руководит проектом
                    li Управление подрядчиками
                    li Подбор материалов и доставка образцов в любую точку
                    li Ваше минимальное участие в процессе ремонта
                    li Прозрачность и еженедельная отчетность
                p.select__argument-desc
                    i
                        | “Не первый год реализуем проекты,
                        br
                        | когда Заказчики заграницей”

        li.select__argument-item.animation
            h5.select__argument-caption.animation
                span.select__argument-txt Высокая отвественность
                span.select__argument-num №4
            .select__argument-body
                p.select__argument-desc
                    | Мы отвечаем за конечный результат&nbsp;
                    br.d-md-none
                    | проекта - вы получаете целостный&nbsp;
                    br.d-md-none
                    | ремонт, а не его части.